{% extends "base.html" %}
{% block title %}<title>Архивные тарифы Tele2 - список и информация, данные тарифы не доступны к подключению в Республике
        Татарстан</title>{% endblock %}

{% block headline %}<h1 align="center"><b><i>Архивные тарифы</i></b></h1>{% endblock %}

{% block tariff_list %}
{% for item in archived %}
    {% with item=item %}
        {% include "item.html" %}
    {% endwith %}
{% endfor %}
{% endblock %}

{% block link %}<p align="center"><font size="+2"><a href="{{ url_for('index') }}"><i>Текущие тарифы</i></a></font></p>
</p>{% endblock %}









