{% extends "base.html" %}
{% block title %}<title>Архивные тарифы Tele2 - список и информация, данные тарифы не доступны к подключению в
    Республике
    Татарстан</title>{% endblock %}

{% block headline %}<p class="h1 text-center font-weight-bold">Архивные тарифы</p>{% endblock %}

{% block tariff_list %}
{% for item in archived %}
{% with item=item %}
{% include "item.html" %}
{% endwith %}
{% endfor %}
{% endblock %}

{% block link %}<p class="h4 text-center font-italic"><a href="{{ url_for('index') }}">Текущие тарифы</a>
</p>{% endblock %}









