<tr>
    <td>{{ item.name }}

        {% if item.hit == True %}
        <span class="badge badge-pill badge-danger">Хит продаж</span>
        {% endif %}


        {% if item.price == 0 %}
        <p class="h7 font-weight-light">без абонентской платы</p>
        {% elif item.price != 0 %}
        <p class="h1 font-weight-bold">{{ item.price }} <sup>₽</sup> <sub class="h6 font-weight-normal">/{{
            item.price_period
            }}</sub></p>
        {% endif %}
    </td>
    <td>
        <p class="h5 font-weight-bold">
            {% if item.gb == -1 %}
            БЕЗЛИМИТНЫЙ ИНТЕРНЕТ
            {% elif item.gb != 0 %}
            {{ item.gb }} ГБ
            {% endif %}
        </p>

        {% if item.gb_unlim != None %}
        <p class="h6 font-italic">+безлимитные</p>
        <p class="h6 font-normal">{{ " ".join(item.gb_unlim) }}</p>
        {% endif %}
    </td>

    <td>
        {% if item.minutes != 0 %}
        <p class="h5 font-weight-bold">{{ item.minutes }} мин.</p>
        {% endif %}

        {% if item.minutes_unlim_tele2 == True %}
        <p class="h6 font-italic">+ безлимит на Tele2 России</p>
        {% endif %}
    </td>

    <td>
        {% if item.sms != 0 %}
        <p class="h5 font-weight-bold">{{ item.sms }} SMS</p>
        {% endif %}
    </td>

</tr>